<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Presupuesto 04</title>
</head>

<body>

    <table cellpadding="0" cellspacing="0" style="">
      <!-- 1o renglón: LOGO -->
      <tr>
        <td colspan="5" style="">
          <img src="logoAbeja_001.svg" style="width:100%; max-width:100px;">
        </td>              
      </tr>
      <!-- 2o renglón: INFORMACIÓN DESTINATARIO Y REMITENTE -->
      <tr >
          <td colspan="5" style=""><br><br>
                  <tr>
                    <td style=" font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 24px;" colspan="4" valign="top" align="left" >
                      John Doe<br>
                      john@example.com
                    </td>
                    <td style=" font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 24px;" align="right">
                      Barrafranca S.A. de C.V.<br>
                      Colina de Buenaventura 47<br>
                      Boulevares, Naucalpan, C.P. 53110<br>
                      contacto@panelmexico.com<br>
                      55 8421 4610
                    </td>
                  </tr>

          </td>
      </tr>
      <!-- 3o renglón: NÚMERO DE PRESUPUESTO - FECHA Y COMERCIAL -->
      <tr>
        <td colspan="5" style=" font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 24px;"><br>
          <h1>Presupuesto #PM09</h1><br>
          <strong>Fecha de Presupuesto:</strong> January 1, 2015<br>
          <strong>Comercial:</strong> Hernando Martínez S.<br><br>
        </td><br>
      </tr>

        <!-- 4o renglón: HEADINGS DE LA TABLA -->
        <tr>
            <td align="left" style="background: rgb(50,150,170); color: white; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 15px; padding: 5px; line-height: 24px; column-width:100px;" height="23" >
              Descripción
            </td>
            <td align="right" style="background: rgb(50,150,170); color: white; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; text-align: center; font-size: 15px; padding: 5px; line-height: 24px; column-width:100px;">
              Cantidad
            </td>
            <td align="right" style="background: rgb(50,150,170); color: white; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; text-align: center; font-size: 15px; padding: 5px; line-height: 24px; column-width:100px;">
              P. U.
            </td>
            <td align="right" style="background: rgb(50,150,170); color: white; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; text-align: center; font-size: 15px; padding: 5px; line-height: 24px; column-width:100px;">
              Impuestos
            </td>
            <td align="right" style="background: rgb(50,150,170); color: white; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; text-align: right; font-size: 15px; padding: 5px; line-height: 24px; column-width:100px;">
              Subtotal
            </td>
        </tr>
        <!-- 5o renglón: CONTENIDO DE LA TABLA -->
        <tr>
            <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; border-bottom: 1px solid black; line-height: 35px; padding: 5px;">
                Panel de 30mm para fachada marca Master Panel.
            </td>
            <td align="right" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; border-bottom: 1px solid black; line-height: 35px; padding: 5px;">
                1,375.00
            </td>
            <td align="right" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; border-bottom: 1px solid black; line-height: 35px; padding: 5px;">
                $ 1,839.04
            </td>
            <td align="right" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; border-bottom: 1px solid black; line-height: 35px; padding: 5px;">
                IVA
            </td>
            <td align="right" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; border-bottom: 1px solid black; line-height: 35px; padding: 5px;">
                $ 48'536,800.00
            </td>
        </tr>
        <tr>
          <td><br><br></td>
        </tr>
        <!-- 6o renglón: SUBTOTAL -->
        <tr>
            <td style=""></td>
            <td style=""></td>
            <td style=""></td>
            <td align="right" style=" font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 35px;"><b>Subtotal</b></td>
            <td align="right" style=" font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px;">$48'536,800.00</td>
        </tr>
        <!-- 7o renglón: IVA -->
        <tr>
            <td style=""></td>
            <td style=""></td>
            <td style=""></td>
            <td align="right" style=" font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 35px;">IVA</td>
            <td align="right" style=" font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px;">$4'536,800.00</td>
        </tr>
        <!-- 8o renglón: TOTAL -->
        <tr>
            <td style=""></td>
            <td style=""></td>
            <td style=""></td>
            <td align="right" style=" font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 35px;"><b>Total</b></td>
            <td align="right" style=" font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px;">$52'536,800.00</td>
        </tr>


    </table>
    <br><br><br><br>
    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 24px;"><i>
    - cotización en pesos mexicanos [MXN]<br>
    - los precios pueden variar sin previo aviso<br>
    - costo de flete nacional no incluido
    </i></p>


</body>
</html>